* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100vw;
  background-color: rgb(109, 18, 244);
  height: 10vh;
  color: whitesmoke;
  font-size: 2em;
  font-weight: bold;
  padding-left: 2em;
}

main {
  display: grid;
  grid-template-columns: 20% 1fr;
}

.sidebar {
  font-weight: bold;
  background-color: blueviolet;
  color: whitesmoke;
  height: 90vh;
}

li {
  margin: 0px auto 20px;
}
